MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=change_me

WORDPRESS_DB_HOST=db:3306
NGINX_PORT=8080

DB_DATA_DIR=/home/USER/lesson18-data/db
WP_DATA_DIR=/home/USER/lesson18-data/wp
